@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;
  --clr-primary-a0: #fa7b32;
  --clr-primary-a10: #fe8a4a;
  --clr-primary-a20: #ff9960;
  --clr-primary-a30: #ffa876;
  --clr-primary-a40: #ffb78c;
  --clr-primary-a50: #ffc5a3;
  --clr-surface-a0: #242424;
  --clr-surface-a10: #383838;
  --clr-surface-a20: #4e4e4e;
  --clr-surface-a30: #656565;
  --clr-surface-a40: #7d7d7d;
  --clr-surface-a50: #959595;
  --clr-surface-tonal-a0: #382c26;
  --clr-surface-tonal-a10: #4c403a;
  --clr-surface-tonal-a20: #605550;
  --clr-surface-tonal-a30: #756b67;
  --clr-surface-tonal-a40: #8b827e;
  --clr-surface-tonal-a50: #a19a97;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
